// Screen sizes
$size-mobile: 480px;
$size-tablet: 768px;
$size-laptop: 1024px;
$size-desktop: 1200px;

// Background colors
$color-bg-standard: #eee;

// Foreground colors
$color-fg-standard: black;

.desktop {

  @media screen and (max-width: $size-tablet) {
    display: none;
  }
}

.mobile {

  @media screen and (min-width: $size-tablet - 1) {
    display: none;
  }
}

// Button styles
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &.cancle, &.confirm {
    &:not(.disabled):hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &.cancle {
    background: #ddd;
  }

  &.confirm {
    background: orange;
    color: white;
  }
}

// Prepare the body for our
// scss
body,
html,
#app {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

table {
  width: 100%;
  text-align: left;
  background: $color-bg-standard;
  border-collapse: collapse;

  &.clickable {
    tr {
      &:hover {
        background: darken($color-bg-standard, 20);
        cursor: pointer;
      }

      &:nth-child(even):hover {
          background: darken($color-bg-standard, 30);
      }
    }
  }

  tr {
    th {
      background: darken($color-bg-standard, 1);
    }

    td, th {
      padding: 10px;
    }

    &:nth-child(even) {
      background: darken($color-bg-standard, 1);
    }

    &:nth-child(odd) {
      background: lighten($color-bg-standard, 5);
    }
  }
}

input.form-control, select.form-control {
  outline: none;
  border: 1px solid $color-fg-standard;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2em;
  width: 100%;
  background: none;
  color: $color-fg-standard;
}

.form-control-sm {
  width: 50%;
  height: 10px !important;
  padding: 5px !important;
}

.btn-group {
  input {
    padding: 23px !important;
    border-radius: 0 5px 5px 0;
  }
}

input.outline-primary {
  border: 1px solid black !important;
}

.btn-outline-primary {
  border-color: black;
  color: black;
  font-weight: normal;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  border-color: black;
  color: black;
  font-weight: normal;
}

.btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: #eee;
}