.neu-morphism-btn {
  box-shadow:  5px 5px 20px #888,
  -20px -20px 60px #ffffff;
  border-radius: 10px;
}

.neu-morphism-out {
  box-shadow:  20px 20px 60px #666,
  -20px -20px 60px #ffffff;
  border-radius: 10px;
}

.neu-morphism-in {

}